
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}
<!-- Inloggnings sida, text och inloggningsrutor-->
<div class="wrapper animated bounce">
    <h1>Welcome to the furniture shop</h1>
    <h1>Log in</h1>
    <hr />
    <form method="post">
        <input type="text" name="email" placeholder="Email" id="username"/>
        <input type="text" name="password" placeholder="Password" id="password"/>
        <input type="submit" value="Log in" />
        <hr />
    <div class="crtacc"><a href="#">Create Account</a></div>
    </form>
</div>




