
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

<a href="@Url.Action("Shop", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
    <span>Fortsätt shoppa</span>
</a>

<form action="~/Home/Checkout">
    <button class="add-to-cart" type="submit">Checkout</button>
</form>

<ul>

    @if (Model.UserData.ShoppingCart != null)
    {
        foreach (var item in Model.UserData.ShoppingCart)
        {
            foreach (var möbel in Model.MöbelList)
            {
                if (item.Id == möbel.Id)
                {
                    <li>@möbel.Title, @möbel.pris</li>

                }
            }
        }
    }

</ul>

